<div class=row style="font-family:allerregular;">
	<div class="small-12 large-12 columns">

		<div class="row">
			<div class="small-12 large-4 columns js-left-side-menu" style="">


				<div class="docs section-container accordion" data-section=""
					data-options="deep_linking: false" style="">
					<div class=js-fixed-section>
					<section class="section js-menu" data-menu="js-dashboard">
						<p class="title" style="left: 0px;">
							<a>Dashboard</a>
						</p>
					</section>
					<section class="section js-menu" data-menu="js-new-expense">
						<p class="title" style="left: 0px;">
							<a>Add New Expense</a>
						</p>
					</section>
					<section class="section js-menu" data-menu="js-create-group">
						<p class="title" style="left: 248px;">
							<a>Create Group</a>
						</p>
					</section>

					
					<section class="section js-menu" data-menu="js-expense-history">
						<p class="title" style="left: 248px;">
							<a>Expense History</a>
						</p>
					</section>
					<section class="section js-menu" data-menu="js-edit-group">
						<p class="title" style="left: 0px;">
							<a>Edit group</a>
						</p>
					</section>
					<section class="section js-menu" data-menu="js-profile">
						<p class="title" style="left: 0px;">
							<a>Profile</a>
						</p>
					</section>
					</div>
					<div class="hide-for-large js-show-hide-section" >
						<section class="section js-show-menu" style="display:none;">
							<p class="title" style="left: 0px;">
								<a>Show Menu</a>
							</p>
						</section>
						<section class="section js-hide-menu" >
							<p class="title" style="left: 0px;">
								<a>Hide Menu</a>
							</p>
						</section>
					</div>
				</div>

			</div>
			<div class="small-12 large-8 columns js-right-panel">
				<div class=row>
					<div class="small-12  columns js-dashboard js-view-item">Dashboard here</div>
					<div class="small-12  columns js-new-expense js-view-item">New expense here</div>
					<div class="small-12  columns js-create-group js-view-item">Create Group here</div>
					<div class="small-12  columns js-expense-history js-view-item">Expense history here</div>
					<div class="small-12  columns js-edit-group js-view-item">Edit Group here</div>
					<div class="small-12  columns js-profile js-view-item">Profile here</div>
				</div>
			</div>
		</div>
	</div>

</div>