<div class=row>

<div class="small-12 columns">

<div class=row>
	<div class="small-4  columns">Menu here</div>
	<div class="small-8  columns">
		<div class="small-12  columns">Dashboard here</div>
		<div class="small-12  columns">New expense here
		
			<div class="row">
				<div class="small-12 large-6 columns">Name : </div>
				<div class="small-12 large-6 columns"><input type=text></div>
			</div>
			<div class="row">
				<div class="small-12 large-6 columns">Date : </div>
				<div class="small-12 large-6 columns"><input type=text></div>
			</div>
			<div class="row">
				<div class="small-12 columns">Payers : </div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<ul>
						<li>1
						</li>
						<li>2
						</li>
						<li>3
						</li>
					</ul>
				</div>
				<div class="small-6 columns">
					<ul>
						<li>1
						</li>
						<li>2
						</li>
						<li>3
						</li>
					</ul>
				</div>
			</div>
		
		
		</div>
		
		
		
		<div class="small-12  columns">Expense history here
		
		
		
		</div>
	</div>

</div>
</div>

</div>