<div class=row>
	<div class="small-12 large-12 columns">

		<div class="row">
			<div class="small-12 large-4 columns js-left-side-menu">


				<div class="docs section-container accordion" data-section=""
					data-options="deep_linking: false" style="">
					<section class="section js-menu" data-menu="js-dashboard">
						<p class="title" style="left: 0px;">
							<a>Dashboard</a>
						</p>
					</section>
					<section class="section js-menu" data-menu="js-new-expense">
						<p class="title" style="left: 0px;">
							<a>Add New Expense</a>
						</p>
					</section>
					<section class="section js-menu" data-menu="js-create-group">
						<p class="title" style="left: 248px;">
							<a>Create Group</a>
						</p>
					</section>

					
					<section class="section js-menu" data-menu="js-expense-history">
						<p class="title" style="left: 248px;">
							<a>Expense History</a>
						</p>
					</section>
					<section class="section js-menu" data-menu="js-edit-group">
						<p class="title" style="left: 0px;">
							<a>Edit group</a>
						</p>
					</section>
					<section class="section js-menu" data-menu="js-profile">
						<p class="title" style="left: 0px;">
							<a>Profile</a>
						</p>
					</section>

				</div>

			</div>
			<div class="small-12 large-8 columns hide-for-small js-right-panel">
				<div class=row>
					<div class="small-12  columns js-dashboard js-view-item">Dashboard here</div>
					<div class="small-12  columns js-new-expense js-view-item">
						<div class="row">
							<div class="small-12 large-6 columns">Name :</div>
							<div class="small-12 large-6 columns">
								<input type=text>
							</div>
						</div>
						<div class="row">
							<div class="small-12 large-6 columns">Date :</div>
							<div class="small-12 large-6 columns">
								<input type=text>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">Payers :</div>
						</div>
						<div class="row">
							<div class="small-6 columns">
								<ul>
									<li>1</li>
									<li>2</li>
									<li>3</li>
								</ul>
							</div>
							<div class="small-6 columns">
								<ul>
									<li>1</li>
									<li>2</li>
									<li>3</li>
								</ul>
							</div>
						</div>
	
	
					</div>
					<div class="small-12  columns js-create-group js-view-item">Create Group here</div>
					<div class="small-12  columns js-expense-history js-view-item">Expense history here</div>
					<div class="small-12  columns js-edit-group js-view-item">Edit Group here</div>
					<div class="small-12  columns js-profile js-view-item">Profile here</div>
					<div class="small-12 small-centered hide-for-large hide-for-medium back-to-menu section-container js-back-to-menu">
						<section class="section ">
							<p class="title" style="left: 0px;">
								<a>Back to Menu</a>
							</p>
						</section>
					</div>	
				</div>
			</div>
		</div>
	</div>

</div>