<div class=row>
	<div class="small-12 large-12 columns js-select-group"></div>
	<div class="small-12 large-12 columns js-new-expense-form" style=display:none;>
		<div class=row>
			<div class="small-12">
				<h2>New expense</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-4 columns">Name :</div>
			<div class="small-12 large-6 columns" style="float: left;">
				<input type=text class='js-expense-name' name=expensename>
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-4 columns">Date :</div>
			<div class="small-12 large-6 columns" style="float: left;">
				<input type=text class='js-expense-date' name=expensedate>
			</div>
		</div>
		
		<div class=row>
			<div class="small-12">
				<h4>Payers</h4>
			</div>
		</div>
		<div class="row">

			<div class="js-payers carousel" style=height:120px>
				<div class="item" style="">
					<div><input type="checkbox"><span>Bhagyashree N.</span></div>
					<div><input type="checkbox"><span>Krunal G.</span></div>
					<div><input type="checkbox"><span>Nayab G.</span></div>
					<div><input type="checkbox"><span>Rahul K.</span></div>
					<div><input type="checkbox"><span>Sriknath S.</span></div>
					<div class="row navigator">
						<div class="small-6 columns previous"></div>
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item"  >
					<div><input type="checkbox"><span>Vinayak S.</span></div>
					<div><input type="checkbox"><span>Vishwanath A.</span></div>
					<div>8</div>
					<div>9</div>
					<div>10</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item" >
					<div>11</div>
					<div>12</div>
					<div>13</div>
					<div>14</div>
					<div>15</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item" >
					<div>16</div>
					<div>17</div>
					<div>18</div>
					<div>19</div>
					<div>20</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item" >
					<div>21</div>
					<div>22</div>
					<div>23</div>
					<div>24</div>
					<div>25</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item" >
					<div>26</div>
					<div>27</div>
					<div>28</div>
					<div>29</div>
					<div>30</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
					</div>
				</div>
			
			</div>
		</div>
		
		<div class=row>
			<div class="small-12">
				<h4>Included members</h4>
			</div>
		</div>
		<div class="row">

			<div class="js-included-members carousel" style=height:120px>
				<div class="item" style="">
					<div>1</div>
					<div>2</div>
					<div>3</div>
					<div>4</div>
					<div>5</div>
					<div class="row navigator">
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item"  >
					<div>6</div>
					<div>7</div>
					<div>8</div>
					<div>9</div>
					<div>10</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item" >
					<div>11</div>
					<div>12</div>
					<div>13</div>
					<div>14</div>
					<div>15</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item" >
					<div>16</div>
					<div>17</div>
					<div>18</div>
					<div>19</div>
					<div>20</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item" >
					<div>21</div>
					<div>22</div>
					<div>23</div>
					<div>24</div>
					<div>25</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item" >
					<div>26</div>
					<div>27</div>
					<div>28</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
						<div class="small-6 columns next"></div>
					</div>
				</div>
			
			</div>
		</div>
		
		<div class=row>
			<div class="small-12">
				<h4>Expense distribution</h4>
			</div>
		</div>
		<div class="row">

			<div class="js-expense-distribution carousel" style=height:120px>
				<div class="item" style="">
					<div>1</div>
					<div>2</div>
					<div>3</div>
					<div>4</div>
					<div>5</div>
					<div class="row navigator">
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item"  >
					<div>6</div>
					<div>7</div>
					<div>8</div>
					<div>9</div>
					<div>10</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item" >
					<div>11</div>
					<div>12</div>
					<div>13</div>
					<div>14</div>
					<div>15</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item" >
					<div>16</div>
					<div>17</div>
					<div>18</div>
					<div>19</div>
					<div>20</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item" >
					<div>21</div>
					<div>22</div>
					<div>23</div>
					<div>24</div>
					<div>25</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
						<div class="small-6 columns next">Next</div>
					</div>
				</div>
				<div class="item" >
					<div>26</div>
					<div>27</div>
					<div class="row navigator">
						<div class="small-6 columns previous">Previous</div>
					</div>
				</div>
			
			</div>
		</div>
		<div class="row">
			<div class="small-6 large-4 small-centered large-centered columns"
				style="margin-top: 2%;">
				<span class="js-save-expense button" style="cursor: pointer;">Save</span>
			</div>
		</div>
	</div>
</div>