<div class=row>
	<div class="small-12 large-12 columns js-select-group"></div>
	<div class="small-12 large-12 columns js-new-expense-form" style=display:none;>
		<div class=row>
			<div class="small-12">
				<h2>New expense</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-4 columns">Name :</div>
			<div class="small-12 large-6 columns" style="float: left;">
				<input type=text class='js-expense-name' name=expensename placeholder="Untitled">
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-4 columns">Date :</div>
			<div class="small-12 large-6 columns" style="float: left;">
				<input type=date class='js-expense-date' name=expensedate>
			</div>
		</div>
		
		<div class=row>
			<div class="small-12 columns">
				<h4>Who Paid</h4>
			</div>
		</div>
		<div class="row">

			<div class="js-payers carousel small-12 columns" style=height:120px>
				
			
			</div>
		</div>
		
		<div class=row>
			<div class="small-12 columns">
				<h4>How to divide</h4>
				<label><input type="checkbox" checked id="allmembers">All</label>
			</div>
		</div>
		<div class="row">

			<div class="js-included-members carousel small-12 columns" style=height:120px>
				
			
			</div>
		</div>
		
		<div class="row">
			<div class="small-6 large-4 small-centered large-centered columns"
				style="margin-top: 2%;">
				<span class="js-save-expense button" style="cursor: pointer;">Save</span>
			</div>
		</div>
	</div>
</div>