body{
	height : 100%;
}

.back-to-menu{
	position : fixed!important;
	bottom: 0;
	opacity : 0.9;
}

.section-container section .title a{
	font-size : 20px!important;
}



.section-container{
	margin-bottom:0!important;
}

.js-right-panel>div>div{
	height : 100%;
}