div.carousel>div{
	position: absolute;
	height: 100%;
	float: left;
}


.carousel{
	position:relative;
	overflow : hidden;
	height: 106px;
}
.item .navigator{
	position: absolute;
	bottom: 0;
	
}

